body {
    margin: 0px;
    padding: 0px;
}
/* .paragraphe {
    margin: auto;
    width: 800px;
} */
/* div.container{
    width: 400px;
    margin: auto;
} */
#img {

    width: 80%;
}

/* .colonne-gauche {
    float: left;
    width: 50%;
}

.colonne-droite {
    float: right;
    width: 50%;
} */